body{
	background-color:#0d0d0d;
}
form{
  color:silver; 
  font-size:27px; 
  border:double silver 4px;
  border-left-color:#998200;
  margin:50px;
}
h1 {font-size:150%;color:silver;}
* {color: silver; }
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  }
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.container input:checked ~ .checkmark {
  background-color: #998200;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
textarea {
  width:300px;
  padding:10px;
  height:100px;
  display:block;
  color:#777;
}
#lex {
    position:fixed ;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -100;
}
































